<ion-header class="ion-no-border ion-padding">
  <!--
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
  -->

  <ion-button slot="Start" expand="block" (click)="up()" [disabled]="num==MAX">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button> 
</ion-header>

<ion-content class="no-scroll">
  <ion-grid class="center-content">
    <ion-row>
      <ion-col>
        <ion-text (click)="reset()">{{ num }}</ion-text>
      </ion-col>
      <!--
      <ion-col size="6" class="ion-text-center">
        <ion-button expand="block" (click)="up()" [disabled]="num==MAX">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button expand="block" (click)="down()" [disabled]="num==0">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-col>
      -->
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border ion-padding">
 
  <ion-button slot="Start" expand="block" (click)="down()" [disabled]="num==MAX">
    <ion-icon name="remove-circle-outline"></ion-icon>
  </ion-button>
  <ion-toolbar>
    <ion-title>
      Number: {{ num }}  
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="up()">Up
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="down()">Down
        <ion-icon name="remove-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> 


